form {
    --del-color: red;
    --del-button-size: 32px;
    --form-gap: 16px;
    --field-set-gap: 12px;
    --input-label-gap: 4px;
    --input-wrapper-gap: 24px;

    display: flex;
    flex-direction: column;
    gap: var(--form-gap);
    padding: 32px var(--inline-space);
    align-items: center;

}

fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--field-set-gap);
    width: 100%;
    max-width: 600px;
}

.input-wrapper {
    display:grid;
    grid-template-columns: var(--del-button-size) 1fr;
    gap: var(--input-wrapper-gap);
    align-items: center;
}

.input-wrapper > div {
    grid-column: 2/3;
}

.input-wrapper > button {
    height: var(--del-button-size);
    background-color: transparent;
    border: 1px solid var(--del-color);
    color: var(--del-color);
    border-radius: 4px;
    transition: 
        background-color 150ms ease-out,
        color 250ms ease-out;
}

.input-wrapper > button:hover {
    background-color: var(--del-color);
    color: white;
    cursor: pointer;
}

.input-label {
    display: flex;
    flex-direction: column;
    gap: var(--input-label-gap);
}

.input-label textarea {
    width: 100%;
    resize: vertical;
}

.field-button {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    width: fit-content;
    padding: 8px 24px;
    border-radius: 8px;
    margin: auto;
}

fieldset .field-button {
    margin: 0;
    margin-left: auto;
}

@media screen and (min-width: 600px) {
    fieldset:not(:has(.input-wrapper)) > *:not(legend) {
        margin-left: calc(var(--input-wrapper-gap) + var(--del-button-size));
    }

    .input-label {
        max-width: 500px;
    }

    fieldset .field-button {
        margin: auto
    }
}